---
http_interactions:
- request:
    method: get
    uri: https://ec.europa.eu/taxation_customs/tin/checkTinService.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 08 Mar 2016 12:29:59 GMT
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"urn:ec.europa.eu:taxud:tin:services:checkTin\"\n\txmlns:tns1=\"urn:ec.europa.eu:taxud:tin:services:checkTin:types\"\n\txmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:impl=\"urn:ec.europa.eu:taxud:tin:services:checkTin\"\n\txmlns:apachesoap=\"http://xml.apache.org/xml-soap\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\n\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\">\n\t<xsd:documentation>\n\t\t1.
        Disclaimer\n\t\t-------------\n\t\tThe information published and the positions
        expressed on this European\n\t\tTIN Portal are those of the authors and do
        not necessarily reflect the\n\t\tviews of the European Commission. While the
        European TIN Portal is run\n\t\tby the European Commission, responsibility
        for its content is shared\n\t\tbetween the Commission and individual EU Member
        States: content pages\n\t\tare either \"European\" in nature or \"Member State\"
        pages, where each EU\n\t\tMember State is responsible for the content and
        the links on its own\n\t\tpages.\n\n\t\tThe European Commission maintains
        this European TIN Portal to allow\n\t\tpersons subject to a specific tax reporting
        obligation imposed to them\n\t\tby European or national legislation, and having
        an Internet access to:\n\t\t* obtain information on the national systems of[...]
- request:
    method: post
    uri: https://ec.europa.eu/taxation_customs/tin/services/checkTinService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns1="urn:ec.europa.eu:taxud:tin:services:checkTin"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:ec.europa.eu:taxud:tin:services:checkTin:types"><env:Body><ins0:checkTin><ins0:countryCode>ES</ins0:countryCode><ins0:tinNumber>X9722412J</ins0:tinNumber></ins0:checkTin></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"checkTin"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: ASCII-8BIT
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><checkTinResponse
        xmlns="urn:ec.europa.eu:taxud:tin:services:checkTin:types"><countryCode>ES</countryCode><tinNumber>X9722412J</tinNumber><requestDate>2017-01-19+01:00</requestDate><validStructure>true</validStructure><validSyntax>true</validSyntax></checkTinResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 19 Jan 2017 00:37:43 GMT
- request:
    method: post
    uri: https://ec.europa.eu/taxation_customs/tin/services/checkTinService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns1="urn:ec.europa.eu:taxud:tin:services:checkTin"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:ec.europa.eu:taxud:tin:services:checkTin:types"><env:Body><ins0:checkTin><ins0:countryCode>ES</ins0:countryCode><ins0:tinNumber>INVALID!</ins0:tinNumber></ins0:checkTin></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"checkTin"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: ASCII-8BIT
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><checkTinResponse
        xmlns="urn:ec.europa.eu:taxud:tin:services:checkTin:types"><countryCode>ES</countryCode><tinNumber>INVALID!</tinNumber><requestDate>2017-01-19+01:00</requestDate><validStructure>false</validStructure></checkTinResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 19 Jan 2017 00:37:44 GMT
recorded_with: VCR 3.0.3
